{% extends 'blog/body/base.html' %}
{% load static %}
{% block title %}{{titulo}}{% endblock %}


{% block content %}
<table class="table">
    <thead class="text-left font-weight-bold table-dark">
        <tr class="text-white ">
            <td >{{titulo}}</td>
            <td ></td>
        </tr>
    </thead>
    <tbody style="background-color: pink;">

        <form action="" method="POST">{% csrf_token %}
            {{ form.as_p }}
        
            <input type="submit" value="Submit" />
        </form>
    </tbody>

</table>
{% endblock %}